body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f2;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-17 {
  width: 14.28571428%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-17 {
    width: 14.28571428%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-17 {
    width: 14.28571428%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-17 {
    width: 14.28571428%;
    float: left;
  }
}

.col-xs-19,
.col-sm-19,
.col-md-19,
.col-lg-19 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-19 {
  width: 11.11111111%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-19 {
    width: 11.11111111%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-19 {
    width: 11.11111111%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-19 {
    width: 11.11111111%;
    float: left;
  }
}

.header {
  padding-bottom: 40px;
}

.content {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.content article img {
  width: 100%;
  max-width: 100%;
}

.breadcrumb {
  margin-bottom: 20px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #4cae4c;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #4cae4c;
}

.navbar-brand img {
  height: 20px;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
  color: #4cae4c;
}

.get-started {
  padding: 4px 16px;
  font-size: 36px;
}

.slogan h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.slogan .slogan-2 {
  margin-bottom: 20px;
}

.text-align-center {
  text-align: center;
}

.page-last-modified {
  text-align: right;
  font-size: 12px;
}

.wizard-item {
  text-align: center;
  margin-bottom: 40px;
}

.wizard-item p {
  font-size: 24px;
}

.wizard-item .circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #4cae4c;
  background-color: #5cb85c;
  color: #fff;
}

.social-media-icons {
  text-align: center;
  border-top: 1px solid #e2e2df;
  margin-top: 40px;
  padding-top: 40px;
}

.social-media-icons .social-media-icon {
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .social-media-icons .social-media-icon {
    margin-bottom: 0;
  }
}

.social-media-icons .social-media-icon.last {
  margin-bottom: 0;
}

.social-media-icons .social-media-icon a {
  font-size: 32px;
  line-height: 32px;
  color: #e2e2df;
}

.social-media-icons .social-media-icon a:focus,
.social-media-icons .social-media-icon a:hover {
  color: #4cae4c;
}

.logos {
  padding-top: 40px;
  padding-bottom: 40px;
}

.logos .logo {
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .logos .logo {
    margin-bottom: 0;
  }
}

.logos .logo.last {
  margin-bottom: 0;
}

.logos .logo a {
  margin-left: 10px;
}

.logos .logo a:focus,
.logos .logo a:hover {
  text-decoration: none;
}

.logos .logo img {
  height: 30px;
}

.footer .legal {
  font-size: 12px;
  border-top: 1px solid #e2e2df;
  padding-top: 40px;
  padding-bottom: 30px;
}

#block-public-local-tasks {
  margin-bottom: 20px;
}

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
}

.vertical-align-middle {
  vertical-align: middle;
}

.menu--documentation .in-active-trail > a {
  text-decoration: underline;
}

.maintenance-page .content {
  background: #fff;
  padding: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
